<div class="container" style="width: 600px;">
   <div class="row">
     <div class="card-header">
       <h1 class="card-title text-center ">Chi tiết sản phẩm</h1>
       <div class="d-flex justify-content-end">
         <button [routerLink]="['']" class="btn btn-primary " type="button">Xem danh sách</button>
       </div>
     </div>
     <div >
       <p> Tên sản phẩm : {{product.name}} </p>
       <p> Giá: {{product.price}}</p>
       <p> Mô Tả: {{product.description}} </p>   
     </div>
   </div>
 </div>
